<%- include('./partials/header') %> 

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron">
                <%- include("./partials/flash") %>
                <h1 class="display-4">Error Page</h1>
                <hr class="my-4">
                <p class="lead">Oops! Something went wrong.</p>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %> 
